.places {
    margin-top: 20px;
}

.places h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
}

.places .amenities, .places .reviews {
    margin-top: 40px;
}

.places .amenities ul, .places .reviews ul {
    list-style-type: none;
    padding-left: 0;
}

.places .amenities ul li, .places .reviews ul li {
    margin-bottom: 10px;
}

.places .amenities ul li:before {
    content: "\2022"; /* Bullet point */
    color: #FF5A5F; /* Bullet point color */
    font-size: 12px;
    margin-right: 10px;
}
