body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header, footer {
    width: 100%;
    position: fixed;
}

footer {
    bottom: 0;
}

.logo {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}
